Flask==3.1.2
gunicorn

firebase_admin==7.1.0

Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1

qrcode==8.2
pillow==12.1.1

requests==2.32.5

google-cloud-firestore==2.23.0
google-cloud-storage==3.9.0
